.about__me{
    display: flex;
    flex-direction: row;
    gap: 15%;
}


.about__me-image{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(-5deg);
    transition: var(--transition);
    height: max-content;
}
.about__me-image:hover{
    transform: rotate(0);
}

.about__me-para{
    margin: 0rem 0 2rem;
    color: var(--color-light);
   
}

@media screen and (max-width:1275px){
    .about__me-para p{
        font-size: 13px;
    }
}

@media screen and (max-width:900px){
    .about__me-para p{
        font-size: 10px;
    }
}

@media screen and (max-width:700px){
    .about__me{
        display: flex;
        flex-direction: column;
        gap: 20%;
    }
    .about__me-image{
        height: fit-content;
        /* width: 30vh; */
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 37%;
    }
    .about__me-para p{
        font-size: 12px;
    }
}

@media screen and (max-width:600px){
    .about__me-para{
        margin-left: 25px;
        margin-right: 25px;
    }
}